@{
    ViewData["Title"] = "Solidariza Brasil - Manifesto";
}

@model ShowPixDonationViewModel

<div class="row">
    <div class="col mt-5">
        <h1 class="text-center">Doe para Solidariza Brasil</h1>
        <p class="text-center">Transforme sua doação financeira em ajuda para quem precisa</p>
    </div>
</div>
<div class="row">
    <div class="col mt-5">
        <!-- Centralizar o QR Code -->
        <div class="text-center">
            <p>
                Olá <b>@Model.Name</b>, obrigado por doar <b>@Model.Amount</b> para o Solidariza Brasil!
                Para finalizar a doação, faça o pagamento do PIX abaixo.
                Você pode usar o aplicativo do seu banco para ler o QR Code.
                Caso prefira, copie e cole a chave PIX no campo de pagamento.
            </p>
            
            <p class="text-center">Seu CPF é obrigatório para a doação e deve ser o mesmo utilizado para fazer o PIX.</p>
            <p class="text-center">Identificador da doação: <span class="font-monospace p-2" style="border: 1px solid #DADADA; background-color: #EEE; border-radius: 15px;">@Model.Code</span></p>
            
            <img src="~/images/225593a1-752f-445b-b8ef-c609c11868d6.jpeg" alt="QR Code do PIX" class="img-fluid w-50" style="max-width: 500px;"/>
            <p class="text-center mt-5">Chave PIX: <span class="font-monospace p-2" style="border: 1px solid #DADADA; background-color: #EEE; border-radius: 15px;">@Model.PixKey</span></p>
            <p class="text-center">Nome: @Model.PixName</p>
            <p class="text-center">CPF: @Model.PixCpf</p>
            <p class="text-center">Valor: @Model.Amount</p>
        </div>
    </div>
</div>