@{
    ViewData["Title"] = "Solidariza Brasil - Relatório de Doações";
}

@model ShowReportViewModel

<div class="row">
    <div class="col mt-5">
        <h1 class="text-center">Relatório de Doações</h1>
        <p class="text-center">Veja o relatório de doações realizadas para a campanha Solidariza Brasil</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>Valor</th>
                <th>Código</th>
                <th>Data</th>
                <th>Situação</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var donation in Model.Donations)
            {
                <tr>
                    <td>@donation.NameMasked</td>
                    <td>@donation.EmailMasked</td>
                    <td>@donation.CpfMasked</td>
                    <td>@donation.Amount</td>
                    <td>@donation.Code</td>
                    <td>@donation.Date</td>
                    <td class="text-center">
                        @switch (donation.Status)
                        {
                            case ShowReportViewModel.Donation.DonationStatus.Pending:
                                <span class="badge bg-primary">@donation.StatusText</span>
                                break;
                            case ShowReportViewModel.Donation.DonationStatus.Confirmed:
                                <span class="badge bg-success">@donation.StatusText</span>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>